#characters {
	background-color: transparent;
	font-size: 50px;
	color: rgb(139, 0, 214);
	border: 0px none transparent;
	border-bottom: 1px solid rgb(200, 200, 200);
	width: 100%;
	font-family: "Noto Sans SC";
}