@keyframes pulse {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.2;
	}
	100% {
		opacity: 1;
	}
}

.characterStrokes {
	display: inline-block;
	font-size: 75px;
	font-weight: bold;
	height: 75px;
	width: 75px;

	img {
		height: 75px;
		width: 75px;
	}

	.loading {
		opacity: 0.3;
		animation: pulse 2s infinite ease-in-out;
	}
}