body {
	margin: 25px;
}

section {
	margin-bottom: 70px;

	label {
		display: block;
		text-align: left;
		text-transform: uppercase;
		font-family: "Quicksand";
		font-weight: 300;
		color: rgb(125, 125, 125);
	}
}

.container {
	max-width: 900px;
	margin: auto;
	margin-top: 50px;
	font-family: "sans";
}